.odd {
    background-color: #ffcccb; 
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.adjust-font-size {
    font-size: 24px;
}

#two {
    color: blue; 
    font-size: 36px;
}

/* 
    In the id selector 'four' below, we could have also
    added a rule to set the font size to 24 px.

    However, since the elements 'Number 3' and 'Number 4'
    in the HTML file share the same font size, we reused
    the 'adjust'font-size', class above to help reduce
    duplicate code.
*/

#four {
    background-color: lightgreen; 
    font-weight: bold;
}